//GENERIC COMPONENTS
.container{
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.hidden{
    transform: translateX(100%); 
    pointer-events: none; 
}

.mobile-hidden{
    @media(max-width: 768px){
        display: none !important;
    }
}

.tablet-hidden{
    @media(max-width: 996px){
        display: none !important;
    }
}

.desktop-hidden{
    @include mobile{
        display: none !important;
    }
}

.container{
    @include mobile{
        max-width: 720px;
    }

    @include tablet{
        max-width: 900px;
    }

    @include desktop{
        max-width: 1200px;
    }
}

.image-text-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include tablet{
        flex-direction: row;
        justify-content: space-between;
    }

    .text-container{
        h1, h2, h3, h4, h5, h6{
            padding-bottom: 2.5rem;
        }
    }
    
    .image-container{
        @include tablet{
            max-width: 50%;
        }
        
        img{
            max-width: 100%;
            max-height: 100%;
            height: 100%;
        }
    }
}

// SVG STYLING
.svg-icon{
    height: auto;
    transition: filter .25s ease-in-out;
}

.svg-large{
    width: 3rem;
}

.svg-medium{
    width: 2rem;
}

.svg-small{
    width: 1.5rem;
}

.svg-border{
    border: solid 1px var(--color-light);
    border-radius: 100%;
    display: flex;
    width: fit-content;
}

.svg-wrapper{
    align-self: end;
}

.svg-light{
    @include svg-light;
}

.svg-dark{
    @include svg-dark;
}

.svg-fire{
    @include svg-fire;
}

.svg-cinnabar{
    @include svg-cinnabar;
}

//SCROLL REVEAL STYLING
.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}